## ASP.NET Core
# Windows image file directories
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
obj/
bin/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vspscc
.vsconfig

# User-specific files
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# JetBrains Rider
.idea/

# VS Code directories
.vscode/

# npm packages
node_modules/

# .NET Core
project.lock.json
project.fragment.lock.json

# ASP.NET temp folders
.vs/
.vs2019/

# Tye directories
.tye/

# NPM logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Webpack
dist/
